<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808988324914-1q4crarjh0gb68gjumt9l01hq3ujukmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808988324914-1q4crarjh0gb68gjumt9l01hq3ujukmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ8Y4eSdp734War_-SC4wb4bDDvtGrUTc</string>
	<key>GCM_SENDER_ID</key>
	<string>808988324914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessCard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>micard-985b2</string>
	<key>STORAGE_BUCKET</key>
	<string>micard-985b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808988324914:ios:98983a451925351d1f782b</string>
</dict>
</plist>